body{
    display: grid;
    justify-content: center;
    align-content: center;
    height: 100vh;
    background-image: url('superman.jpeg') ;
}

fieldset{
    width: 400px;
    background-color: white;
}
fieldset > legend{
    background-color: white;
    border-radius: 20px;
}

label{
    width: 90px !important;
    display: inline-block;
    padding-bottom: 20px;
}
input{
    width: 200px;
    display: inline-block;
}

#strength, #speed, #intelligence{
    width: 50px;
    display: inline-block;
}

